.form-style {
    border: double 4px red;
}
.name-field {
    width: 172px;
    float: left;
}
.form-input {
    overflow: hidden;
    padding: 0 10px;
}
.form-input input {
    width: 100%;
}
.form-input-default {
    padding: 0 10px;
}
.clearfix::after {
    content: " ";
    display: block;
    clear: both;
}
textarea {
    width: 100%;
}
.radio-button {
    display: inline;
}
@media screen and (min-width: 320px) and (max-width: 600px) {
    .name-field {
        float: none;
    }
    .form-input {
        overflow: hidden;
        padding: 0 8px 0 0;
    }
    .form-input-default {
        padding: 0 0;
    }
    .radio-button {
        display: block;
    }
}