$first_color: #000000;
$second_color: #ffffff;
$three_color: #FADE4B;
$four_color: #99938A;
$five_color:#FB000F;
$main_p_size: 14px;
$second_p_size: 16px;
$contain: 1140px;

@mixin header_footer () {
    color: $second_color;
    background-color: $first_color;
    font-size: $main_p_size;
    p {
        font-size: $main_p_size;
    }
    li {
        color: $second_color;
        font-size: $main_p_size;
    }
}
.wrap {
    display: flex;
}
.contain {
    width: $contain;
    margin: 0 auto;
    border-top: 0.1px;
    font-family: 'Roboto', sans-serif;
}
.head_top {
    @include header_footer;
    ul {
        margin: 18px 0px;
        display: flex; 
        }
        li {
            margin-left: 18px;
    }
    .menu {
        li {
        margin-left: 26px;
        color: $four_color;
        text-decoration-line: underline;
        }
        li:first-child {
            margin-left: 50px;
        }
    }  
    .button_location {
        margin: 14px 0px;
        padding: 4px 8px 4px 8px;
        border-radius: 31px;
        background-color: rgba(255, 255, 255, 0.2);
        img {
            margin-bottom: 2px;
        }
    }
}
.head-icon {
    margin-bottom: 4px;
}
.head_bottom {    
    @include header_footer;
    .wrap_head {
        display: flex;
        justify-content: space-between;
    }
    ul {
        display: flex;
        justify-content: space-between;
        width: 250px;
        margin-top: 11px;
        }
        li {   
    }
    .menu {
        li {
        margin-left: 26px;
        color: $four_color;
        text-decoration-line: underline;
        }
        li:first-child {
            margin-left: 50px;
        }
    }  
    .button_menu {
        padding: 14px 20px 14px 20px;
        border-radius: 8px;
        background-color: $three_color;
        color: $first_color;
        margin: 14px 0px 24px 0px;
        font-size: 18px;
        font-weight: 500;

    }
    .logo-header-text {
        font-size: 26px;
        font-weight: 500;
        margin-top: 23px;
        margin-left: -23px;
    }
    .head_search {
        display: flex;
        padding: 20px 20px;
        background-color: rgba(255,255,255, 0.25);
        width: 459px;
        height: 56px;
        border-radius: 60px;
        margin-top: 8px;
        justify-content: space-between;
        p {
            opacity: 0.6;
        }
        img {
            align-self:flex-end;
        }
    
    }
}
.slider {
    margin: 31px 0px;
    .slider_bg {
        color: $second_color;
        position: relative;
        width: $contain;
        height: 360px;
        border-radius: 10px;
        background-image: url(/lessons/photoshop.by/img/image61.jpg);
        padding: 44px 88px;
        .slider_title {
            font-size: 32px;
            font-weight: 700;
        }
        .slider_description {
            margin: 22px 0px 42px 0px;
            opacity: 0.6;
        }
        .slider_button {
            color: $three_color;
            padding: 14px 52px;
            border-radius: 28px;
            border: solid 2px;
            display: inline-block;
        }
    }
    .slider_navi_left {
        position: absolute;
        top: 45%;
        left: 2%;
    }
    .slider_navi_rigth {
        position: absolute;
        top: 45%;
        right: 2%;
    }
    .slider_bottom_navi {
        width: 60px;
        margin: 26px auto;
        display: flex;
        justify-content: space-between;
        .active_slide_button {
            width: 12px;
            height: 12px;
            border-radius: 6px;
            background-color: #A5A5A5;
        }
        .passive_slide_button {
            width: 12px;
            height: 12px;
            border-radius: 6px;
            background-color: #DDDDDD;
        }
    }
}
.sale_product {
    margin: 31px 0px;
    ul {
        display: flex;
        justify-content: space-between;
        li{ 
            width: 352px;
            height: 280px;
            border-radius: 20px;
            background-color: #EFEFEF;
            padding: 24px;
            position: relative;
            div {
                display: flex;
                justify-content: space-between;
                p {
                    width: 133px;
                }
                span {
                    font-size: 24px;
                    font-weight: 700;
                }
            }
            img {
                margin: 10px auto 0px auto;
                display: block;
            }
            .sale_medal_10 {
                background-color: $three_color;
                width: 100px;
                height: 100px;
                border-radius: 50px;
                position: absolute;
                bottom: 7%;
                left: 60%;
                display: block;
                text-align: center;
                padding-top: 8%;
                transform: rotate(-15deg);
                
                p {
                    width: 100%;
                    margin-bottom: 4px;
                }
                span {
                    font-size: 26px;
                }
            }
            .sale_medal_25 {
                background-color: $five_color;
                color: $second_color;
                width: 100px;
                height: 100px;
                border-radius: 50px;
                position: absolute;
                bottom: 7%;
                left: 60%;
                display: block;
                text-align: center;
                padding-top: 8%;
                transform: rotate(-15deg);
                
                p {
                    width: 100%;
                    margin-bottom: 4px;
                }
                span {
                    font-size: 26px;
                }
            }
        }
    } 
}