h2 {
  font-size: 32px;
  font-weight: 500;
  color: #000000; }

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.contain {
  width: 1140px;
  margin: 0 auto;
  border-top: 0.1px;
  font-family: 'Roboto', sans-serif; }
  @media (max-width: 1140px) {
    .contain {
      width: 900px; } }
  @media (max-width: 900px) {
    .contain {
      width: 600px; } }
  @media (max-width: 600px) {
    .contain {
      width: 320px; } }

.mobile_contain {
  width: 1140px;
  margin: 0 auto;
  border-top: 0.1px;
  font-family: 'Roboto', sans-serif; }
  @media (max-width: 1140px) {
    .mobile_contain {
      width: 900px; } }
  @media (max-width: 900px) {
    .mobile_contain {
      width: 100%; } }

.head_top {
  color: #ffffff;
  background-color: #000000;
  font-size: 14px; }
  .head_top p {
    font-size: 14px; }
  .head_top li {
    color: #ffffff;
    font-size: 14px; }
  .head_top ul {
    margin: 18px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .head_top li {
    margin-left: 18px; }
  .head_top .menu li {
    margin-left: 26px;
    color: #99938A;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline; }
  .head_top .menu li:first-child {
    margin-left: 50px; }
  .head_top .button_location {
    margin: 14px 0px;
    padding: 4px 8px 4px 8px;
    border-radius: 31px;
    background-color: rgba(255, 255, 255, 0.2); }
    .head_top .button_location img {
      margin-bottom: 2px; }
  @media (max-width: 900px) {
    .head_top {
      display: none; } }

.head-icon {
  margin-bottom: 4px; }

.head_bottom {
  position: relative;
  margin: 0 0;
  color: #ffffff;
  background-color: #000000;
  font-size: 14px; }
  .head_bottom p {
    font-size: 14px; }
  .head_bottom li {
    color: #ffffff;
    font-size: 14px; }
  .head_bottom .wrap_head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
    @media (max-width: 900px) {
      .head_bottom .wrap_head {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        margin: 0 24px; } }
  .head_bottom ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 250px;
    margin-top: 11px; }
    @media (max-width: 900px) {
      .head_bottom ul {
        display: none; } }
  .head_bottom .menu li {
    margin-left: 26px;
    color: #99938A;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline; }
  .head_bottom .menu li:first-child {
    margin-left: 50px; }
  .head_bottom .button_menu {
    padding: 14px 20px 14px 20px;
    border-radius: 8px;
    background-color: #FADE4B;
    color: #000000;
    margin: 14px 0px 24px 0px;
    font-size: 18px;
    font-weight: 500;
    display: block; }
    @media (max-width: 900px) {
      .head_bottom .button_menu {
        display: none; } }
  .head_bottom .logo-header-text {
    font-size: 26px;
    font-weight: 500;
    margin-top: 23px;
    margin-left: -23px; }
    @media (max-width: 900px) {
      .head_bottom .logo-header-text {
        margin-left: 0px;
        font-weight: 700;
        margin-top: 10px; } }
  .head_bottom .head_search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 20px;
    background-color: rgba(255, 255, 255, 0.25);
    width: 459px;
    height: 56px;
    border-radius: 60px;
    margin-top: 8px;
    margin-bottom: 0px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .head_bottom .head_search p {
      opacity: 0.6; }
    .head_bottom .head_search img {
      -ms-flex-item-align: end;
          align-self: flex-end; }
    @media (max-width: 1140px) {
      .head_bottom .head_search {
        width: 295px; } }
    @media (max-width: 900px) {
      .head_bottom .head_search {
        width: 100%; } }
    @media (max-width: 600px) {
      .head_bottom .head_search {
        width: 100%; } }
    @media (max-width: 900px) {
      .head_bottom .head_search {
        margin-bottom: 10px;
        border-radius: 16px; } }

.head_bottom_mobile {
  z-index: 10;
  width: 100%;
  height: 80px;
  display: none;
  background-color: #ffffff;
  border-top: 1px solid #99938A; }
  @media (max-width: 900px) {
    .head_bottom_mobile {
      display: block;
      position: fixed;
      bottom: 0px; } }
  .head_bottom_mobile ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 25px 50px; }
    @media (max-width: 600px) {
      .head_bottom_mobile ul {
        margin: 15px 25px; } }
    .head_bottom_mobile ul li {
      width: 50px;
      height: 50px;
      border-radius: 25px; }
    .head_bottom_mobile ul li:first-child {
      background-image: url(../img/mobile_menu.png);
      background-position-x: 542px;
      background-position-y: -19px; }
    .head_bottom_mobile ul li:nth-child(2) {
      background-image: url(../img/mobile_menu.png);
      background-position-x: 394px;
      background-position-y: -19px; }
    .head_bottom_mobile ul li:nth-child(3) {
      background-image: url(../img/mobile_menu.png);
      background-position-x: 244px;
      background-position-y: -16px; }
    .head_bottom_mobile ul li:nth-child(4) {
      background-image: url(../img/mobile_menu.png);
      background-position-x: 98px;
      background-position-y: -19px; }
    .head_bottom_mobile ul a {
      display: block;
      width: 50px;
      height: 50px; }

.slider_title {
  font-size: 32px;
  font-weight: 700; }
  @media (max-width: 900px) {
    .slider_title {
      font-size: 28px; } }
  @media (max-width: 600px) {
    .slider_title {
      font-size: 16px; } }

.slider_description {
  margin: 22px 0px 42px 0px;
  opacity: 0.6; }
  @media (max-width: 900px) {
    .slider_description {
      margin: 15px 0px 80px 0px; } }
  @media (max-width: 600px) {
    .slider_description {
      margin: 18px 0px 70px 0px; } }

.slider_button {
  color: #FADE4B;
  padding: 14px 52px;
  border-radius: 28px;
  border: solid 2px;
  display: inline-block; }

@media (max-width: 900px) {
  .carousel {
    margin: 0px 24px; } }

.carousel-inner {
  border-radius: 10px; }

.carousel-item {
  height: 360px;
  background-color: red; }
  @media (max-width: 900px) {
    .carousel-item {
      background-color: red;
      height: 300px; } }

@media (max-width: 900px) {
  .carousel-caption {
    position: relative;
    right: 0px;
    bottom: 0;
    left: 0;
    padding: 36px 25px;
    text-align: left; } }

.carousel-control-next, .carousel-control-prev {
  width: 10%; }

.carousel-indicators {
  bottom: -45px; }

.carousel-indicators [data-bs-target] {
  background-color: #A5A5A5;
  height: 12px;
  width: 12px;
  border-radius: 6px;
  border-top: none;
  border-bottom: none;
  margin-right: 10px; }

.slider {
  margin: 31px 0px; }
  @media (max-width: 900px) {
    .slider {
      margin: 15px 24px; } }
  .slider .slider_bg {
    color: #ffffff;
    position: relative;
    width: 1140px;
    height: 360px;
    border-radius: 10px;
    background-image: url(../img/image61.jpg);
    padding: 44px 88px; }
    @media (max-width: 900px) {
      .slider .slider_bg {
        height: 260px;
        padding: 26px 29px;
        background-size: cover;
        background-position-x: -136px; } }
    @media (max-width: 600px) {
      .slider .slider_bg {
        height: 250px;
        padding: 10px 29px;
        background-size: cover;
        background-position-x: -300px; } }
    .slider .slider_bg .slider_title {
      font-size: 32px;
      font-weight: 700; }
      @media (max-width: 900px) {
        .slider .slider_bg .slider_title {
          font-size: 28px; } }
      @media (max-width: 600px) {
        .slider .slider_bg .slider_title {
          font-size: 16px; } }
    .slider .slider_bg .slider_description {
      margin: 22px 0px 42px 0px;
      opacity: 0.6; }
      @media (max-width: 900px) {
        .slider .slider_bg .slider_description {
          margin: 15px 0px 80px 0px; } }
      @media (max-width: 600px) {
        .slider .slider_bg .slider_description {
          margin: 18px 0px 70px 0px; } }
    .slider .slider_bg .slider_button {
      color: #FADE4B;
      padding: 14px 52px;
      border-radius: 28px;
      border: solid 2px;
      display: inline-block; }
  .slider .slider_navi_left {
    position: absolute;
    top: 45%;
    left: 2%; }
  .slider .slider_navi_rigth {
    position: absolute;
    top: 45%;
    right: 2%; }
  .slider .slider_bottom_navi {
    width: 60px;
    margin: 26px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 900px) {
      .slider .slider_bottom_navi {
        display: none; } }
    .slider .slider_bottom_navi .active_slide_button {
      width: 12px;
      height: 12px;
      border-radius: 6px;
      background-color: #A5A5A5; }
    .slider .slider_bottom_navi .passive_slide_button {
      width: 12px;
      height: 12px;
      border-radius: 6px;
      background-color: #DDDDDD; }

.sale_product {
  margin: 62px 0px 31px 0px; }
  .sale_product ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    overflow: auto; }
    .sale_product ul li {
      width: 352px;
      height: 280px;
      border-radius: 20px;
      background-color: #EFEFEF;
      padding: 24px;
      position: relative;
      margin: 0px 5px; }
      .sale_product ul li div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        .sale_product ul li div p {
          width: 133px; }
        .sale_product ul li div span {
          font-size: 24px;
          font-weight: 700; }
      .sale_product ul li img {
        margin: 10px auto 0px auto;
        display: block; }
      .sale_product ul li .sale_medal_10 {
        background-color: #FADE4B;
        width: 100px;
        height: 100px;
        border-radius: 50px;
        position: absolute;
        bottom: 20px;
        left: 60%;
        display: block;
        text-align: center;
        padding-top: 25px;
        -webkit-transform: rotate(-15deg);
                transform: rotate(-15deg); }
        .sale_product ul li .sale_medal_10 p {
          width: 100%;
          margin-bottom: 4px; }
        .sale_product ul li .sale_medal_10 span {
          font-size: 26px; }
      .sale_product ul li .sale_medal_25 {
        background-color: #FB000F;
        color: #ffffff;
        width: 100px;
        height: 100px;
        border-radius: 50px;
        position: absolute;
        bottom: 20px;
        left: 60%;
        display: block;
        text-align: center;
        padding-top: 25px;
        -webkit-transform: rotate(-15deg);
                transform: rotate(-15deg);
        -webkit-animation: beat 1s infinite alternate;
                animation: beat 1s infinite alternate;
        -webkit-transform-origin: center;
                transform-origin: center; }
        .sale_product ul li .sale_medal_25 p {
          width: 100%;
          margin-bottom: 4px; }
        .sale_product ul li .sale_medal_25 span {
          font-size: 26px; }

@-webkit-keyframes beat {
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); } }

@keyframes beat {
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); } }
.sale_hits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .sale_hits div {
    width: 228px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    position: relative; }
    @media (max-width: 600px) {
      .sale_hits div {
        width: 155px; } }
    .sale_hits div img {
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto 0; }
    .sale_hits div p {
      color: #99938A;
      margin: 5px 10px; }
    .sale_hits div .price_cart {
      display: inline;
      font-size: 18px;
      font-weight: 700;
      color: #000000; }
    .sale_hits div .old_price_cart {
      display: inline;
      margin: 0px 5px;
      text-decoration: line-through; }
    .sale_hits div .sale_hits_img {
      width: 170px;
      height: 170px;
      margin: 10px auto; }
      @media (max-width: 900px) {
        .sale_hits div .sale_hits_img {
          width: 150px;
          height: 150px; } }
  .sale_hits > div:hover {
    -webkit-box-shadow: 0 0 10px 5px #dddddd;
            box-shadow: 0 0 10px 5px #dddddd;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
    .sale_hits > div:hover img {
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto 0; }

.sale_hist_viev_more {
  padding: 14px 56px;
  background-color: rgba(220, 220, 220, 0.3);
  border-radius: 28px;
  width: 220px;
  margin: 32px auto;
  font-weight: 600; }

div.vendor_slider {
  margin: 31px 0px; }
  div.vendor_slider ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.obzory {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 31px 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 900px) {
    .obzory {
      overflow-x: auto;
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly; } }
  @media (max-width: 600px) {
    .obzory {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  .obzory div {
    width: 348px; }
    @media (max-width: 1140px) {
      .obzory div {
        width: 295px; } }
    @media (max-width: 900px) {
      .obzory div {
        margin-right: 10px; } }
    @media (max-width: 900px) {
      .obzory div {
        width: 200px; } }
    .obzory div img {
      width: 100%; }
    .obzory div p {
      margin: 15px 8px;
      text-align: center;
      width: 100%; }
      @media (max-width: 1140px) {
        .obzory div p {
          width: 200px; } }

.inst {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 31px 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 900px) {
    .inst {
      overflow: auto; } }
  .inst div {
    width: 204px; }
    @media (max-width: 1140px) {
      .inst div {
        width: 180px; } }
    @media (max-width: 900px) {
      .inst div {
        width: 195px; } }
    @media (max-width: 900px) {
      .inst div {
        margin-right: 10px; } }
    .inst div p {
      margin: 15px 8px;
      text-align: center; }
    @media (max-width: 1140px) {
      .inst div img {
        width: 100%; } }
    @media (max-width: 900px) {
      .inst div img {
        width: auto; } }

.footer_top {
  color: #ffffff;
  background-color: #000000;
  font-size: 14px; }
  .footer_top p {
    font-size: 14px; }
  .footer_top li {
    color: #ffffff;
    font-size: 14px; }
  .footer_top .footer_ul {
    margin: 31px 0px 0px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 16px;
    line-height: 28px;
    padding: 30px 0px; }

/*# sourceMappingURL=style.css.map */