@media all and (max-width:499.9px) {
    .contain {
    width: 310px;
    }
    .search {
    margin-left: 0px;
    margin-top: 94px;
    }
    .menu-ul {
    margin-top: 0px;
    margin-right: 40px;
    }
    .header-menu li {
    margin-right: 175px;
    }
    .catalog-product-cart-commercial {
    margin: 5px 5px 0px 5px;
    }
    .commercial-pic-img {
    width: 100%;
    }
    .contackt-1-2 {
    float: none;
    width: 100%;
    }
    .enter-space {
    width: 180px;
    }
    .email-button {
    width: 110px;
    }
    .footer-1-4 {
    width: 100%;
    margin-right: 0%;
    float: none;
    }
    .footer-menu {
    font-size: 14px;
    }
    .footer-menu li {
    display: block;
    margin-right: 0px;
    }
    .footer-img {
    width: 35%;
    }
    .clearfix::after {
        clear: none;
    }
    .product-cart-rating ul {
        float: right;
    }
    .sidebar-catalog {
        width: 100%;
    }
    }
    