@media all and (max-width:699.9px) {
    .contain {
    width: 480px;
    }
    .search {
    margin-left: 100px;
    margin-top: 68px;
    }
    .menu-ul {
    margin-left: 0px;
    }
    .header-menu li {
    display: block;
    margin-right: 345px;
    }
    .home-slider {
    height: 300px;
    }
    .home-slider-content {
    margin-top: 80px;
    margin-left: 42px;
    }
    .title-catolog {
    margin-top: 10px
    }
    .product {
    padding-left: 5px;
    width: 300px;
    }
    .sort-product li {
    display: block;
    margin-bottom: 10px;
    }
    .catalog-view {
    padding-top: 0.1px;
    }
    .catalog-1-3 {
    float: none;
    border: none;
    width: 100%;
    }
    .catalog-3-3 {
    float: none;
    width: 100%;
    }
    .product-cart-price {
    float: left;
    margin-right: 8px;
    }
    .product-cart-old-price {
    float: left;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 8px;
    }
    .product-cart-rating ul {
    float: left;
    }
    .commercial-pic-img {
    width: 260px;
    }
    .wrap {
    height: 170px;
    white-space: nowrap;
    overflow-x: auto;
    }
    .best-seller-cart {
    width: 170px;
    float: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    }
    .best-seller-cart-title {
    margin-left: 20px;
    white-space: normal;
    }
    .best-seller-cart-price {
    margin-left: 20px;
    }
    .best-seller-arrow-left {
    display: none;
    margin-left: 7%;
    margin-top: 16%;
    }
    .best-seller-arrow-right {
    display: none;
    margin-right: 79px;
    margin-top: 16%;
    }
    .email-text {
    margin-left: 0px;
    text-align: left;
    }
    .email-button {
    width: 65px;
    }
    .footer-menu {
    margin-top: 10px;
    font-size: 13px;
    }
    .footer-menu li {
    margin-right: 3px;
    }
    .footer-img {
    width: 95%;
    }
    .product-cart-title {
        height: 100%;
    }
    }
    