@media all and (max-width:899.9px) {
    
    .contain {
        width: 670px;
        margin: 0 auto;
        padding-top: 0.1px;
    }
    .header-top {
        background-color: #C4C4C4;
    }
    .logo {
        float: left;
        margin-top: 11px;
    }
    .search {
        width: 310px;
        height: 40px;
        margin-bottom: 11px;
        margin-left: 185px;
        margin-top: 21px;
        background-color: white;
        
        border-radius: 20px;
    }
    .search img {
        margin-top: 11px;
        margin-left: 19px;
        float: left;
        opacity: 0.5;
    }
    .search p {
        margin: 11px 0px auto 10px;
        float: left;
        opacity: 0.5;
    }
    .menu-ul {
        float: none;
        margin-top: 29px;
        margin-left: 349px;
    }
    .menu-ul li {
        display: inline;
        margin-right: 12px;
    }
    .menu-ul ul {
        margin: 0 0;
    }
    .menu-ul p {
        margin: 1px auto auto auto;
        display: inline-block;
        
    }
    .menu-ul img {
        vertical-align: middle;
    }
    .header-cart-icon {
        float: right;
        margin-top: 25px;
    }
    .header-menu {
        margin-top: 30px;
        margin-bottom: 28px;
    }
    .header-menu ul {
        padding-left: 0px;
        margin: 0 0;
    }
    .header-menu li {
        display: inline;
        margin-right: 9px;
    }
    .categories-menu {
        background-color: #0772BF;
        border-radius: 4px;
        color: white;
        padding: 9px 18px 9px 17px;
    }
    .sale-menu {
        color: #FF0C0C;
    }
    .home-slider {
        background: url(img/st_banner\ 1.jpg) no-repeat center;
        height: 464px;
        color: white;
    }
    .home-slider-content {
        margin-top: 130px;
        margin-left: 80px;
    }
    .home-slider-content-button {
        margin-top: 58px;    
    }
    .home-slider-content-button span{
       font-size: 16px;
       font-weight: 600;
       border: solid 1px;
       border-radius: 32px;
        padding: 9px 40px;
    }
    .title-catolog {
        margin-top: 62px
    }
    .sidebar-catalog {
        float: left;
        width: 180px;
        margin-top: 6px;
    }
    .sidebar-catalog ul {
        list-style-type: none;
        margin: 0 0;
        padding: 0 0;
    }
    .sidebar-catalog li {
        border-bottom: #BFBEBE solid 1px;
        margin-bottom: 15px;
        padding-bottom: 11px;
        font-size: 14px;
    }
    .sidebar-catalog img {
        float: right;  
        margin-top: 7px;
    }
    .sidebar-inside-ul {
        color: #6C6C6C;
    }
    .sidebar-inside-ul img {
        float: left;
        margin-top: 2px;
        margin-right: 9px;
    }
    .sidebar-inside-ul li {
        border: none;
        margin: 0 0;
        padding-top: 10px;
        padding-bottom: 0px;
    }
    #sidebar-category {
        padding-top: 26px;
        padding-bottom: 74px;
    }
    .sidebar-color .gray li {
        color: #BFBEBE;
    }
    #sidebar-more {
        color: rgb(0, 0, 0);
    }
    #final-more-sidebar {
        border-bottom: 0px;
     }
     .product {
         padding-left: 30px;
         margin-top: 6px;
         float:left;
         width: 490px;
     }
     .sort-panel {
        float: left;
        width: 100%;
    }
     .sort-product {
        float: none;
        margin-top: 15px;
     }
     .sort-product ul {
        list-style-type: none;
        margin: 0 0;
        padding: 0 0;
    }
    .sort-product li {
        display: inline;
        margin-left: 0px;
    }
    .sort-product img {
        vertical-align: middle;
        margin-left: 9px;
    }
    .sort-view {
        color: #949494;
        border: solid 1px #C8C8C8;
        padding: 12px 10px 12px 12px;
        border-radius: 4px;
    }
    .sort-by {
        color: #BFBEBE;
        border: solid 1px #BFBEBE;
        padding: 5px 7px 5px 8px;
    }
    .counter-width, .counter-sort {
        display: inline-block;
        color: black;
        padding-left: 16px
    }
    .counter-width {
        padding-left: 38px
    }
    
    .find-product {
        float: none;
    }
    .catalog-view {
        padding-top: 0.1px;
        padding-top: 75px;
    }
    .catalog-1-3 {
        float: left;
        border-right: 1px solid rgba(0, 0, 0, .2);
        width: 33.3%;
    }
    .catalog-3-3 {
        float: left;
        
        width: 33.3%;
    }
    .product-cart-picture {
        height: 175px;
        width: 80px;
        overflow: hidden;
        margin: auto;
    }
    .catalog-product-cart {
        margin: 5px 5px 0px 5px;
        padding-bottom: 41px;
    }
    .product-cart-img {
        width: 70px;
    }
    .product-cart-img2 {
        width: 79px;
    }
    .product-cart-title {
        margin-top: 25px;
    }
    .product-cart-title p {
        margin: 0 0;
        font-size: 14px;
        font-weight: 600;
    }
    .product-cart-title span {
        color: #6C6C6C;
        font-weight: 400;
    }
    .product-cart-attributes {
        margin-top: 12px;
    }
    .product-cart-price {
        font-weight: 600;
        float: none;
    }
    .product-cart-old-price {
        text-decoration-line: line-through;
        color: #A9A9A9;
        font-weight: 600;
        float: right;
        margin-left: 8px;
        margin-top: -22px;
    }
    .product-cart-rating ul {
            list-style-type: none;
            margin: 0 0;
            padding: 0 0;
            float: none;
    }
    .product-cart-rating li {
        display: inline;
    }
    .product-cart-rating img {
        display: inline;
    }
    .catalog-product-cart-commercial {
        border: solid 1px #BFBEBE;
        margin: 25px 23px 0px 10px;
        padding-bottom: 31px;
    }
    .commercial-pic {
        overflow: hidden;
    }
    .commercial-pic-img {
        width: 120px;
    }
    .product-commercial-title {
        font-size: 24px;
        font-weight: 700;
        text-align: center;
    }
    .product-commercial-title p {
        margin: 0 0;
    }
    .product-commercial-title span {
        font-size: 16px;
        font-weight: 700;
    }
    .commercial-link {
        text-decoration: underline;
        text-align: center;
        margin-top: 19px;
    }
    .catalog-pagination {
        color: #BFBEBE;
        text-align: center;
        margin-top: 37px;
    }
    .catalog-pagination span{
        color: black;
        padding: 5px 11px 5px 20px;
        border: 1px solid #BFBEBE;
    }
    .ceparator {
        border-bottom: 1px solid #BFBEBE;
    }
    .best-seller-title {
        margin-top: 15px;
        margin-bottom: 20px;
        text-align: center;
    }
    .best-seller-cart {
        width: 123px;
        height: 170px;
        border: 1px solid #BFBEBE;
        float: left;
    }
    .best-seller-cart-margin {
        margin-left: 12px;
    }
    .best-seller-cart-img {
        text-align: center;
        padding: 0 0;
    }
    .best-seller-img {
        width: 100px;
    }
    .best-seller-cart-title {
        margin-left: 5px;
        font-size: 14px;
    }
    .best-seller-cart-price {
        margin-left: 5px;
        margin-top: 0px;
        font-weight: 700;
    }
    .free-space {
        padding-bottom: 64px;
    }
    .best-seller-arrow-left {
        margin-left: 7%;
        margin-top: 16%;
        float: left;
    }
    .best-seller-arrow-right {
        margin-right: 79px;
        margin-top: 16%;
        float: right;
    }
    .contackt-1-2 {
        float: left;
        text-align: center;
        padding-top: 31px;
        width: 50%;
    }
    .title-contact{
        font-weight: 700;
    }
    .text-contact {
        padding-top: 13px;  
    }
    .contackt-button {
        width: 136px;
        height: 36px;
        background-color: #1977DA;
        color: white;
        border-radius: 5px;
        padding-top: 7px;
        margin: 13px auto 13px auto;   
    }
    .email-text {
        font-size: 12px;
        margin-top: 6px;
        margin-bottom: 3px;
    }
    .enter-space {
        width: 160px;
        height: 36px;
        border: #BFBEBE 1px solid;
        border-radius: 5px 0px 0px 5px;
        display: inline-block;
    }
    .email-button {
        width: 136px;
        height: 36px;
        display: inline-block;
        background-color: #1977DA;
        border-radius: 0px 5px 5px 0px;
        border: #1977DA 1px solid;
        color: white;
        padding-top: 7px;
        text-align: center;
    }
    .email-form {
        margin-left: 0px;
        text-align: left;
    }
    .email-text {
        margin-left: -261px;
    }
    .footer-1-4 {
        width: 23%;
        margin-right: 1%;
        float: left;
    }
    .footer-menu {
        background: #1977DA;
        padding-top: 10px;
        padding-bottom: 8px;
        margin-top: 45px;
        color: white;
        list-style-type: none
    }
    .footer-menu ul {
        padding: 0 0;
        margin: 0 0;
        text-align: center;
    }
    .footer-menu li {
        display: inline-block;
        margin-right: 16px;
    }
    .footer {
        padding-top: 36px;
    }
    .footer-title {
        font-size: 12px;
        font-weight: 700;
    }
    .footer-column {
        font-size: 12px;
        margin-top: 15px;
    }
    .footer-column ul {
        list-style-type: none;
        padding: 0 0;
        margin: 0 0;
        line-height: 20px;
    }
    .footer-1-4 p {
        margin-top: 29px;
        margin-bottom: 14px;
        font-size: 12px;
    }
    .footer-img {
        margin-left: 0px;
    }
    .footer-bottom {
        text-align: center;
        margin-top: 20px;
    }
    body {
        font-family: 'Open Sans', sans-serif;
    }
    h2 {
        font-size: 22px;
        font-weight: 700;
        margin: 0 0;
    }
    }