@media all and (max-width:1140px) {
    .contain {
    width: 850px;
    }
    .search {
    width: 310px;
    margin-left: 185px;
    }
    .search p {
    margin: 11px 0px auto 10px;
    }
    .menu-ul li {
    margin-right: 12px;
    }
    .sidebar-catalog {
    float: left;
    width: 180px;
    }
    .product {
    width: 670px;
    }
    .best-seller-cart {
    width: 184px;
    height: 180px;
    }
    .best-seller-cart-img {
    text-align: center;
    padding: 0 0;
    }
    .best-seller-img {
    width: 100px;
    }
    .best-seller-cart-price {
    margin-top: 0px;
    }
    .best-seller-arrow-left {
    margin-left: 1%;
    }
    .best-seller-arrow-right {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 10%;
    }
    .email-form {
    margin-left: 20px;
    }
    .footer-menu li {
    margin-right: 30px;
    }
    .footer-img {
    margin-left: 0px;
    }
    .clearfix::after {
        content: " ";
        display: block;
        clear: both;
    }
    .product-cart-rating ul {
        float: none;
        text-align: center;
    }
    }
    