
.accordion-body {
    background: url(../img/black-arrow-line.png) repeat-y 10px 50px;
    // background: ;
    // background-position-x: 20px;
    // background-position-y: -50px;
    >ul {
        > li {
            font-weight: 600;
            color: #000080;
            padding-bottom: 0px;
            @media screen and (max-width: 600px) {
                padding-bottom: 10px;
            }
           > ul {
                li {
                    font-weight: 400;
                    padding-left: 20px;
                    padding-bottom: 0px;
                    @media screen and (max-width: 600px) {
                        padding-bottom: 10px;
                    }
                }
           };
        }
    }
}

.accordion-item {
    border:none;
    @media screen and (max-width: 600px) {
        font-size: 14px;
    }
}
// .accordion-button {
//     border:none;
// }
// .accordion-button+.collapsed {
//     border:none;
// }
.accordion-item:first-of-type {
    border-radius: 0px;
}
.accordion-button::after {
    display: none;
}
.accordion-button {
    display: block;
    text-align: center;
    padding: 7px;
    background-color: #a5d0f0;
    border-radius: 0px;
    border: 3px solid black;
}
.wrap_pl_tc {
    background: url(../img/black_left-white_s.png) no-repeat 310px top, url(../img/black_rigth-white_s.png) no-repeat 310px bottom, url(../img/black-line-skobka.png) repeat-y 325px;
    @media screen and (max-width: 600px) {
        background: url(../img/black_left-white_s.png) no-repeat 193px top, url(../img/black_rigth-white_s.png) no-repeat 193px bottom, url(../img/black-line-skobka.png) repeat-y 207.5px;
    }
    &.active1 {
        background: url(../img/black_left-white_s.png) no-repeat 310px top, url(../img/black_rigth-white_s.png) no-repeat 310px bottom, url(../img/black-line-skobka.png) repeat-y 325px, url(../img/lish.png) no-repeat left 50px / 64px;
        @media screen and (max-width: 600px) {
            background: url(../img/black_left-white_s.png) no-repeat 310px top, url(../img/black_rigth-white_s.png) no-repeat 310px bottom, url(../img/black-line-skobka.png) repeat-y 325px, url(../img/lish.png) no-repeat left 50px / 50px;
        }
        @media screen and (max-width: 600px) {
            background: url(../img/black_left-white_s.png) no-repeat 193px top, url(../img/black_rigth-white_s.png) no-repeat 193px bottom, url(../img/black-line-skobka.png) repeat-y 207.5px, url(../img/lish.png) no-repeat left 50px / 50px;
        }
    }
    >ul {
        display: flex;
        > li:last-child {
        padding-left: 35px;
        padding-top: 20px;
        color:#000080;
        font-size: 14px;
        transition: 0.4s;
        @media screen and (max-width: 600px) {
            font-size: 12px;
        }
        }
        > li.active1 {
            padding-top: 50%;
            transition: 0.4s;
        }
    }
}

.design_group {
    background: url(../img/black_left-white_s.png) no-repeat 310px top, url(../img/black_rigth-white_s.png) no-repeat 310px bottom, url(../img/black-line-skobka.png) repeat-y 325px;
    @media screen and (max-width: 600px) {
        background: url(../img/black_left-white_s.png) no-repeat 193px top, url(../img/black_rigth-white_s.png) no-repeat 193px bottom, url(../img/black-line-skobka.png) repeat-y 207.5px;
    }
    display: flex;
        > li:last-child {
        padding-left: 35px;
        padding-top: 20px;
        color:#000080;
        font-size: 14px;
        @media screen and (max-width: 600px) {
            font-size: 12px;
        }
        }
}
.design_group_1 {
    background: url(../img/black_left-white_s.png) no-repeat 310px top, url(../img/black_rigth-white_s.png) no-repeat 310px bottom, url(../img/black-line-skobka.png) repeat-y 325px;
    @media screen and (max-width: 600px) {
        background: url(../img/black_left-white_s.png) no-repeat 193px top, url(../img/black_rigth-white_s.png) no-repeat 193px bottom, url(../img/black-line-skobka.png) repeat-y 207.5px;
    }
    display: flex;
    > li:last-child {
    padding-left: 35px;
    padding-top: 20px;
    color:#000080;
    font-size: 14px;
    @media screen and (max-width: 600px) {
        font-size: 12px;
    }
    }
}
.design_group_2 {
    background: url(../img/black_left-white_s.png) no-repeat 310px top, url(../img/black_rigth-white_s.png) no-repeat 310px bottom, url(../img/black-line-skobka.png) repeat-y 325px;
    @media screen and (max-width: 600px) {
        background: url(../img/black_left-white_s.png) no-repeat 193px top, url(../img/black_rigth-white_s.png) no-repeat 193px bottom, url(../img/black-line-skobka.png) repeat-y 207.5px;
    }
    display: flex;
    > li:last-child {
    padding-left: 35px;
    padding-top: 20px;
    color:#000080;
    font-size: 14px;
    @media screen and (max-width: 600px) {
        font-size: 12px;
    }
    }
}
.characterization_group {
    background: url(../img/black_left-white_s.png) no-repeat 310px top, url(../img/black_rigth-white_s.png) no-repeat 310px bottom, url(../img/black-line-skobka.png) repeat-y 325px;
    @media screen and (max-width: 600px) {
        background: url(../img/black_left-white_s.png) no-repeat 193px top, url(../img/black_rigth-white_s.png) no-repeat 193px bottom, url(../img/black-line-skobka.png) repeat-y 207.5px;
    }
    display: flex;
    > li:last-child {
    padding-left: 35px;
    padding-top: 20px;
    color:#000080;
    font-size: 14px;
    @media screen and (max-width: 600px) {
        font-size: 12px;
    }
    }
}
.characterization_group_1 {
    background: url(../img/black_left-white_s.png) no-repeat 310px top, url(../img/black_rigth-white_s.png) no-repeat 310px bottom, url(../img/black-line-skobka.png) repeat-y 325px;
    @media screen and (max-width: 600px) {
        background: url(../img/black_left-white_s.png) no-repeat 193px top, url(../img/black_rigth-white_s.png) no-repeat 193px bottom, url(../img/black-line-skobka.png) repeat-y 207.5px;
    }
    display: flex;
    > li:last-child {
    padding-left: 35px;
    padding-top: 20px;
    color:#000080;
    font-size: 14px;
    @media screen and (max-width: 600px) {
        font-size: 12px;
    }
    }
}
.characterization_group_2 {
    background: url(../img/black_left-white_s.png) no-repeat 310px top, url(../img/black_rigth-white_s.png) no-repeat 310px bottom, url(../img/black-line-skobka.png) repeat-y 325px;
    @media screen and (max-width: 600px) {
        background: url(../img/black_left-white_s.png) no-repeat 193px top, url(../img/black_rigth-white_s.png) no-repeat 193px bottom, url(../img/black-line-skobka.png) repeat-y 207.5px;
    }
    display: flex;
    > li:last-child {
    padding-left: 35px;
    padding-top: 20px;
    color:#000080;
    font-size: 14px;
    @media screen and (max-width: 600px) {
        font-size: 12px;
    }
    }
}
.characterization_group_3 {
    background: url(../img/black_left-white_s.png) no-repeat 310px top, url(../img/black_rigth-white_s.png) no-repeat 310px bottom, url(../img/black-line-skobka.png) repeat-y 325px;
    @media screen and (max-width: 600px) {
        background: url(../img/black_left-white_s.png) no-repeat 193px top, url(../img/black_rigth-white_s.png) no-repeat 193px bottom, url(../img/black-line-skobka.png) repeat-y 207.5px;
    }
    display: flex;
    > li:last-child {
    padding-left: 35px;
    padding-top: 20px;
    color:#000080;
    font-size: 14px;
    @media screen and (max-width: 600px) {
        font-size: 12px;
    }
    }
}

.glav_img {
    text-align: center;
    img {
        width: 80%;
        display: block;
    }
    @media screen and (max-width: 900px) {
        width: 900px;
        display: none;
    }
     
}
.contain {
    width: 1140px;
    margin: 0 auto;
    border-top: 0.1px;
    display: flex;
    @media screen and (max-width: 1140px) {
        width: 900px;
        flex-wrap: nowrap;
    }
    @media screen and (max-width: 900px) {
        width: 600px;
        flex-wrap: wrap;
    }
    @media screen and (max-width: 600px) {
        width: 320px;
    }
    .contain_left {
        width: 600px;
        border-top: 0.1px;
        @media screen and (max-width: 600px) {
            width: 305px;
        }
        
        .new_project {
            h2 {
            text-align: center;
            padding: 7px;
            background-color: #a5d0f0;
            
            border: 3px solid black;
            }
        }
        .input_space {
            height: 25px;
            background: url(../img/black-arrow-s.png) no-repeat;
            background-position-x: 74px;
            background-position-y: -76px;
            @media screen and (max-width: 600px) {
                background-position-x: 60px;
            }
        }
        .strategic_council {
            background: url(../img/lish.png) no-repeat;
            background-position-x: 0px;
            background-position-y: 157px;
        }
    }
    .contain_rigth {
        width: 100%;
        @media screen and (max-width: 900px) {
            width: auto;
            }
    }
}

.contain_left_in {
    width: 240px;
    margin-left: 64px;
    @media screen and (max-width: 600px) {
        margin-left: 50px;
        width: 140px;
    }
    @media screen and (max-width: 600px) {
        margin-left: 50px;
        width: 140px;
    }
    
}
.release_bottom {
    margin-bottom: 30px;
    > li {
        display: flex;
        justify-content: center;
        flex-direction: row;
        @media screen and (max-width: 900px) {
            flex-direction: column;
            }
        >ul {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin-left: 0px;
            @media screen and (max-width: 900px) {
                flex-direction: row;
                margin-left: 100px;
            }
            @media screen and (max-width: 600px) {
                margin-left: 10%;
            }

            >li:last-child {
                text-align: center;
                color:#000080;
                margin-top: 8px;
                @media screen and (max-width: 900px) {
                    text-align: left;
                }
            }
            .release1_1 {
                    margin-top: 8px;
                    @media screen and (max-width: 900px) {
                        margin-top: 123px!important;
                    }
            }
            .release1_2 {
                margin-top: 8px;
                @media screen and (max-width: 900px) {
                    margin-top: 99px!important;
                }
        }      
        }
    }
}
.realese_ul {
        display: flex; 
        flex-direction: row;
        list-style-image: url(../img/ul_arrow.png);
        list-style-position: inside;
        padding-bottom: 46px;
        padding-right: 0px;
        background: url(../img/black_rigth-white_r.png) no-repeat  left 37px, url(../img/black_rigth-white_s.png) no-repeat right 37px, url(../img/black-line-skobka-bottom.png) repeat-x 0px 52px;
        @media screen and (max-width: 900px) {
        flex-direction: column;
        list-style-image: none;
        background: url(../img/black_left-white_s.png) no-repeat 210px top, url(../img/black_rigth-white_s.png) no-repeat 210px bottom, url(../img/black-line-skobka.png) repeat-y 225px;
        padding-bottom: 0px;
        padding-right: 20px;
        }
        @media screen and (max-width: 600px) {
            background: url(../img/black_left-white_s.png) no-repeat 134px top, url(../img/black_rigth-white_s.png) no-repeat 134px bottom, url(../img/black-line-skobka.png) repeat-y 149px;
            padding-right: 5px; 
            
        }
        > li {
            padding-left: 5px;
            display: list-item;
            position: relative;
            color:#000080;
            font-weight: 600;
            @media screen and (max-width: 900px) {
                padding-left: 0px;   
                width: auto;
            }
            @media screen and (max-width: 600px) {  
                width: 154px;
            }
                .strelka {
                    display: none;
                    border: none;
                    @media screen and (max-width: 900px) {
                        display: block;
                        height: 25px;
                        background: url(../img/black-arrow-s.png) no-repeat;
                        background-position-x: 40px;
                        background-position-y: -76px;
                    }
                }
                div {
                    display: none;
                    background: #b6efff;
                    padding: 10px 0px 2px 0px;
                    border-left: 1px solid black;
                    border-bottom: 1px solid black;
                    font-weight: 400;
                    z-index: 10;
                    width: 220px;
                    span {
                        padding-left: 15px;
                        font-weight: 400;
                    }
                    hr {
                        height: 1px;
                        margin-top: 5px;
                        margin-bottom: 2px;
                        width: 20px;
                        color: black;
                        opacity: 1;
                    }
            }
            }
            > li:hover div:last-child {
                display: block;
                position: absolute;
                top: 15px;
                left: 20px;
                @media screen and (max-width: 900px) {
                    top: 16px;
                    left: 1px;
                }
            }
        }
.vnutri_1 {
    position: relative;
    color:#000080;
    font-weight: 600;
    padding-bottom: 46px;
    background: url(../img/black_rigth-white_r.png) no-repeat left 37px, url(../img/black_rigth-white_s.png) no-repeat right 37px, url(../img/black-line-skobka-bottom.png) repeat-x 0px 52px;
    @media screen and (max-width: 900px) {
        background: url(../img/black_left-white_s.png) no-repeat 210px top, url(../img/black_rigth-white_s.png) no-repeat 210px bottom, url(../img/black-line-skobka.png) repeat-y 225px;
        padding-bottom: 0px;
        padding-right: 157px;
    }
    @media screen and (max-width: 600px) {
        background: url(../img/black_left-white_s.png) no-repeat 134px top, url(../img/black_rigth-white_s.png) no-repeat 134px bottom, url(../img/black-line-skobka.png) repeat-y 149px;
        padding-right: 85px;  
    }
    .strelka {
        display: none;
        border: none;
        @media screen and (max-width: 900px) {
            display: block;
            height: 45px;
            background: url(../img/black-arrow-s.png) no-repeat;
            background-position-x: 40px;
            background-position-y: -55px;
        }
    }

    .vnutri_1_1 {
        display: none;
        background: #b6efff;
        padding: 10px 0px 2px 0px;
        border-left: 1px solid black;
        border-bottom: 1px solid black;
        font-weight: 400;
        z-index: 10;
        width: 220px;
        span {
            padding-left: 15px;
            font-weight: 400;
        }
        hr {
            height: 1px;
            margin-top: 5px;
            margin-bottom: 2px;
            width: 20px;
            color: black;
            opacity: 1;
        }
}
}
.vnutri_1:hover .vnutri_1_1 {
    display: block;
    position: absolute;
    top: 15px;
    left: 20px;
    @media screen and (max-width: 900px) {
        top: 16px;
        left: 1px;
    }
}

.bloki {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-left: 0;
    @media screen and (max-width: 600px) {
        flex-direction: column;
        margin-left: 54px;
    }

    img {
        width: 100%;

    }
    >li {
        >ul {
            display: flex;
            > li {
                width: 80px;
                @media screen and (max-width: 1140px) {
                    width: 0px;
                }
            }
            > li:last-child {
                width:220px;
                margin-top: 48px;
                .accordion-button {
                    background-color: white;
                    color:#000080;
                    border: 0px;
                    font-weight: 600;
                    padding: 0px;
                    box-shadow: none;
                    text-align: left;
                    
                }
                .accordion-body {
                    background: white;
                    padding: 10px 0px 2px 0px;
                    border-left: 1px solid black;
                    border-bottom: 1px solid black;
                    ul {
                        li {
                            span {
                                padding-left: 15px;
                                font-weight: 400;
                            }
                            hr {
                                height: 1px;
                                margin-top: 5px;
                                margin-bottom: 2px;
                                width: 20px;
                                color: black;
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
}